<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>thank you</title>
</head>
<body>
<div class="alert alert-primary" role="alert">
  This is SYED REHAN AHMED <a href="#" class="alert-link">an example link</a>. Thank you for leaving a comment
</div>
<p class="lead"> Cllick on comment and go back to comment box page and you comment is displayed .</p>
<a class="btn btn-primary" href="http://django-enva.3kg62nyuwv.ap-south-1.elasticbeanstalk.com/comment/" role="button">HOME</a>

</body>
</html>

